.button {
    display: inline-block;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
    color: white;
    background-color: $blue;
    border: none;
    cursor: pointer;

    &.-link {
        background-color: transparent;
    }

    &.-secondary {
        background-color: #888;
    }
}